$color-success: #67c23a;
$color-success-2:  #f0f9eb;
$color-warning: #e6a23c;
$color-warning-2:  #fdf6ec;
$color-info: #909399;
$color-info-2:  #f4f4f5;
$color-error: #f56c6c;
$color-error-2:  #fef0f0;
